@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1720680373488') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinpaizhuanxiang:before {
  content: "\f0152";
}

.icon-jiahao2fill:before {
  content: "\e728";
}

.icon-weixin:before {
  content: "\e63c";
}

.icon-pinglun:before {
  content: "\e63a";
}

.icon-zhaoxiangji:before {
  content: "\e663";
}

.icon-shouye:before {
  content: "\e639";
}

.icon-weixinzhifu:before {
  content: "\e650";
}

.icon-dianzan:before {
  content: "\e656";
}

.icon-yuandian:before {
  content: "\e630";
}

.icon-xiaoxi:before {
  content: "\e67c";
}

.icon-right-1-copy:before {
  content: "\e61f";
}

.icon-sousuo:before {
  content: "\e661";
}

.icon-dianpu:before {
  content: "\e624";
}

.icon-zhuanfa:before {
  content: "\e627";
}

.icon-icon-test:before {
  content: "\e604";
}

.icon-huo:before {
  content: "\e606";
}

.icon-anquan:before {
  content: "\e668";
}

.icon-shoucang:before {
  content: "\e672";
}

.icon-shangchuan:before {
  content: "\e797";
}

.icon-xiangxia:before {
  content: "\e616";
}

.icon-dizhi:before {
  content: "\e60c";
}

.icon-xiangzuo_o:before {
  content: "\eb9a";
}

.icon-xiaoxitongzhitixinglingshenglingdang-xianxing:before {
  content: "\e795";
}

.icon-jianhao-:before {
  content: "\e605";
}

.icon-shipin:before {
  content: "\e665";
}

.icon-sandian:before {
  content: "\e658";
}

.icon-bg-chat:before {
  content: "\e641";
}

.icon-gerenzhongxin:before {
  content: "\e74c";
}

.icon-qiang:before {
  content: "\e629";
}

.icon-lightning-full:before {
  content: "\e995";
}

.icon-jiaocha:before {
  content: "\e638";
}

.icon-wode:before {
  content: "\e634";
}

